<div class="led"></div>
<div class="display mat-title">Model not supported</div>
<div class="control" fxLayout="column">
    <div class="button-group-1">
        <div class="button-wrapper" fxFlex="25%" fxLayout="column">
            <button class="button"></button>
        </div>
        <div class="button-wrapper" fxFlex="25%" fxLayout="column">
            <button class="button"></button>
        </div>
        <div class="button-wrapper" fxFlex="25%" fxLayout="column">
            <button class="button"></button>
        </div>
        <div class="button-wrapper" fxFlex="25%" fxLayout="column">
            <button class="button"></button>
        </div>
    </div>
    <div class="button-group-2">
        <div fxLayout="row">
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
        </div>
        <div fxLayout="row">
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
        </div>
        <div fxLayout="row">
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
        </div>
        <div fxLayout="row">
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
            <div class="button-wrapper" fxFlex="25%" fxLayout="column">
                <button class="button"></button>
            </div>
        </div>
    </div>
</div>