[Unit]
Description=RC Scanner
After=network.target

[Service]
WorkingDirectory=/home/radio/rc-scanner/server
ExecStart=/usr/bin/node index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rc-scanner
PAMName=systemd-service
User=radio
Group=radio

[Install]
WantedBy=multi-user.target
